
<div class="container">

  <!--  Title-->
  <div class="text-center">
    <br>
    <h3>
      LOOK UP AN ORDER
    </h3>
  </div>
  <br>

  <!--  Search bar-->
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Order ID" aria-label="search-id"
           aria-describedby="button-addon2">
    <button class="btn btn-primary" type="button" id="search-id">GO</button>
  </div>
  <br>

  <!--  Results-->
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Vendor Name</th>
      <th scope="col">Item Name</th>
      <th scope="col">Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr class="table-light">
      <td>A1BC7</td>
      <td>Adidas</td>
      <td>Joggers</td>
      <td>3</td>
    </tr>
    </tbody>
  </table>

</div>
