<div class="container">

<!--  Title-->
  <div class="text-center">
    <br>
    <h3>
      PLACE A NEW ORDER
    </h3>
  </div>

  <!--  Assign random order ID-->
  <div class="form-group">
    <fieldset>
      <label class="form-label mt-4" for="order-id">Order ID</label>
      <input class="form-control" id="order-id" type="text" placeholder="Random Order ID..." readonly="">
    </fieldset>
  </div>

  <!--  Dropdown menu for selecting vendor-->
  <div class="form-group">
    <label for="vendor-select" class="form-label mt-4">Vendor</label>
    <select class="form-select" id="vendor-select">
      <option>Zara</option>
      <option>Decathlon</option>
      <option>Puma</option>
      <option>Adidas</option>
      <option>Nike</option>
    </select>
  </div>

  <!--  Items for sale by the vendor-->
  <div class="form-group">
    <label for="item-select" class="form-label mt-4">Item</label>
    <select class="form-select" id="item-select">
      <option>Denim</option>
      <option>Shirts</option>
    </select>
  </div>

  <!--  Quantity to be ordered-->
  <div class="form-group">
    <label class="col-form-label mt-4" for="quantity">Quantity</label>
    <input type="number" class="form-control" id="quantity">
  </div>

  <br>
  <!--  Submit details entered-->
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>

